@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>

    <link href="~/Estilos/Style1.css" rel="stylesheet" type="text/css" />
    <link href="~/Estilos/Style.css" rel="stylesheet" type="text/css" />

    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</head>

<body style="padding: 0px; ">

    @*<div id="navbar" class="header fixed-top ">
            <h2 class="logo">#YoApoyoPerú</h2>
            <input type="checkbox" id="chk">
            <label for="chk" class="show-menu-btn">
                <ion-icon class="ion" name="menu"></ion-icon>
            </label>

            <ul class="menu">
                <a href="#ayudar">Como ayudar</a>
                <a href="#W2help">Contactanos</a>
                <a href="#conocenos">Conocenos</a>
                <a href="@Url.Action("Login","PersonalAdmin",new { Area = "PersonalAdmin" })">Personal Administrativo</a>

                <label for="chk" class="hide-menu-btn">
                    <ion-icon class="ion" name="close-outline"></ion-icon>
                </label>
            </ul>
        </div>*@



    <nav class="navbar navbar-default" style="padding: 0px 100px; border: none; height:100%;background-color:#ff5656; border-radius:0px; color: black">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand logo" style="font-size:24px; color:white; user-select:none" href="@Url.Action("Index","Main",new { Area = "Main" })">#YoApoyoPerú</a>
            </div>
            <ul class="nav navbar-nav navbar-right">

                @if (Session["UserAdmin_nombre"] != null)
                {

                    <li>
                        <h4 class="navbar-text" style="margin-right: 0px;color:white; user-select:none ">Bienvenido @Session["UserAdmin_nombre"].ToString()</h4>
                    </li>

                    <li class="dropdown">
                        <a style="color:white;" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <span class="caret"></span></a>
                        <ul class="dropdown-menu" style="text-align: center;">
                            <li><a href="@Url.Action("Logout","PersonalAdmin",new { Area = "PersonalAdmin" })">Cerrar Sesión</a></li>
                        </ul>
                    </li>
                }


            </ul>
        </div>
    </nav>
    <div class="">
        @RenderBody()
    </div>


</body>
</html>
